.card {
    // height: 20rem;
    width: 13rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #c7c7c7;
    border-radius: 0.5rem;
    img{
        height: 80%;
        width: 100%;
    }
    h2{
        height: 20%;
    }

    &:hover {
        cursor: pointer;
        transition: all 0.5s ease-out;
        box-shadow: 0 0.5rem 0.5rem rgb(38 38 38 / 38%);
        background-color: white;
    }

    &:hover:before {
        transform: scale(2.15);
    }

    .flex-description{
        .cocktail-type{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        h2{
            margin-bottom: 0;
        }
        img{
            height: 1.5rem;
            width: 1.5rem;
        }
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}